# Archivo de ejemplo para las variables de entorno
# Renombra este archivo a ".env" y reemplaza los valores

# Clave de la API de Groq (Obligatorio)
GROQ_API_KEY=tu_api_key_aqui_sin_comillas

# Modelo de Groq (Opcional, por defecto openai/gpt-oss-120b)
GROQ_MODEL=openai/gpt-oss-120b

# Modo Mock Dinamico (Opcional)
# Si USE_MOCK es "True", la API devolvera datos falsos para desarrollo sin consumir la API Key
USE_MOCK=False
