# Archivo de ejemplo para las variables de entorno
# Renombra este archivo a ".env" y reemplaza los valores

# Clave de la API de Google Gemini (Obligatorio)
GEMINI_API_KEY=tu_api_key_aqui_sin_comillas

# Modo Mock Dinamico (Opcional)
# Si USE_MOCK es "True", la API devolvera datos falsos para desarrollo sin consumir la API Key
USE_MOCK=False
